* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: hsl(210 15% 92%);
  block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container {
  background: darkgray;
  min-width: 300px;
  max-width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}
.cell {
  inline-size: 100px;
  block-size: 100px;
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}